<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>
    <header>
        <h1>{{.Title}}</h1>
    </header>
    <div class="container">
        <table>
            <tr>
                <th>Uptime</th><td>{{.Uptime}}</td>
            </tr>
            <tr>
                <th>Data sent</th><td>{{.DataSentInKb}} kB</td>
            </tr>
            <tr>
                <th>Failed requests</th><td>{{.FailedRequestCount}}</td>
            </tr>
            <tr>
                <th>Observations sent</th><td>{{.ObservationCount}}</td>
            </tr>
            <tr>
                <th>Jobs processed</th><td>{{.JobsProcessedCount}}</td>
            </tr>
            <tr>
                <th>Last successful connection</th><td>{{.LastSuccessfulConnection}}</td>
            </tr>
            <tr>
                <th>HA Access Token Set</th><td>{{.HAAccessTokenSet}}</td>
            </tr>
        </table>
    </div>
</body>
</html>